<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<a href="/search">new search request</a>
<br/>
<a href="/users/sign_in">sign in</a>
<br/>
<a href="/users/sign_out">sign out</a>
<br/>
<a href="/users/sign_up">user signup</a>
<br/>
<a href="/sidekiq">sidekiq monitor</a>
